/* #bodyFrame {
  padding: 5px;
} */
:root {
  --backGr: #ffbe29;
  --textstyle: "Lobster", cursive;
  --textsize: 1.2em;
  --textcolor: #8d153a;
}

.nav-wrapper {
  background-color: var(--backGr);
  color: var(--textcolor);
}

#collapse {
  min-width: 80%;
  max-width: 80%;
}

img {
  float: left;
  margin: 10px;
  padding: 5px;
  border: 5px solid black;
  /* max-width: 800px; */
}

#aboutMe {
  margin: 20px;
  margin-top: 10px;
  text-align: justify;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.page-footer {
  padding-bottom: 5px;
  background-color: var(--backGr);
}
