/* #bodyFrame {
  padding: 5px;
} */
:root {
  --backGr: #1d1e18;
  --textstyle: "Raleway", cursive;
  --textsize: 1.2em;
  --textcolor: #f6f7eb;
}

* {
  font-family: var(--textstyle);
}

.nav-wrapper {
  background-color: var(--backGr);
  color: var(--textcolor);
}
nav .brand-logo {
  color: var(--textcolor);
}

#collapse {
  min-width: 80%;
  max-width: 80%;
}

.collapsible-body {
  color: #1d1e18;
}

img {
  float: left;
  margin: 10px;
  padding: 5px;
  border: 5px solid black;
  /* max-width: 800px; */
}

#aboutMe {
  margin: 20px;
  margin-top: 10px;
  text-align: justify;
}

#lattetext {
  text-align: justify;
}

#aboutMeHeader {
  background-color: #ada8b6;
}

#projectsHeader {
  background-color: #ffeedb;
}

#contactHeader {
  background-color: #4c3b4d;
}
.flexbox {
  display: flex;
  justify-content: center;
}

.page-footer {
  padding-bottom: 5px;
  background-color: var(--backGr);
  color: var(--textcolor);
}

@media screen and (min-width: 992px) {
  #collapse {
    min-width: 60%;
    max-width: 60%;
  }
  img {
    float: left;
    margin: 10px;
    padding: 5px;
    border: 5px solid black;
  }
  #aboutMe {
    margin: 20px;
    margin-top: 10px;
    text-align: justify;
    height: 250px;
  }
}
